@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  /* RED */
  background-color: #2b88f0;
  font-family: 'Muli', sans-serif;
  border: solid red 5px;
  /* using a border to illustrate a point... the width will ALREADY be there with a body you dont really need to declare it... it will already take up space but the height will just take up enough to fit the content inside of it */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* remember that if there is no height the justify content property will not work becuase everything is already collapsed however on the x axis it will be able to be aligned to the center*/
  height: 100vh;
  overflow: hidden;
  margin: 0;
  /* naturally have some margin on the body and to make it look sleeker you just set it to 0 */
}

h3 {
  /* WHITE TEXT */
  /* ENTER ALL OF... WHITE */
  color: #fff;
  margin: 10px 0 20px;
  text-align: center;
  /* the h3 spans two lines so the second line is kind of on the left so the text align will just make it more presentable in the center */
}

.container {
  /* GREEN */
  /* ENTER HAN INPUT BOX WHITE */
  border: solid green 5px;
  width: 500px;
}

textarea {
  /* YELLOW */
  /* INPUT BOX WHITE */
  border: solid yellow 5px;
  display: block;
  width: 100%;
  /* takes up full size of .container */
  height: 100px;
  font-family: inherit;
  /* text input of the white box will now be in Muli inherited from the body i suppose */
  padding: 10px;
  /* text that you input isnt right on the edge of the box */
  margin: 0 0 20px;
  font-size: 16px;
  /* increase size of input text in white box */
}

textarea:focus {
  /* when it is focused the outline will be pink */
  border: solid pink 5px;
  outline: none;
  /* ugly black outline when you click on the white input box... this should remove it? yes so again a remnant of the 9-s style HTML just will remove the damn 90s styling on it.  */
}

.tag {
  /* ORANGE */
  /* orange choices on the bottm that will show up when you type the choices inside */
  border: solid orange 5px;
  background-color: #f0932b;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  font-size: 14px;
  display: inline-block;
}

.tag.highlight {
  background-color: #273c75;
}
