@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1 {
  font-size: 4rem;
  /* very large font size like 40 50 in msword */
  /* color: #fff; */
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  /* this is a point that needs work... the top moves it down from the top the left moves it AWAY from the left EAST DIRECTION but why not just change the values of left to compensate instead?  */
}
