@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: steelblue;
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
}

.container h1 {
  /* targets "Please Login h1 */
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  /* targets "Register */
  text-decoration: none;
  color: lightblue;
}

.btn {
  /* targets "Login" button */
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  /* takes away black border (think 1990s) surrounding button */
  /* border: 0 is more modern look */
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
  /* when you click the button login it will decrease to 98% of its 
  original size */
}

.text {
  /* targets "Don't have an account? */
  margin-top: 30px;
}

.form-control {
  /* targets "Email" and "Password" */
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  /* targets the input boxes to the left of "email" and "password" */
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: pink;
  /* targets the text that you enter in the email and password boxes*/
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
  transform: translateY(-30px);
  /* moves "email" and "password" field UP when clicked on */
}
