@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  background-color: #686de0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  /* interesting... margin zero will make it so it takes up the entire screen... so the body is an element too... if you have a margin on the body then behind it is the html and that can cause all sorts of problems */
  padding: 20px;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px rgba(0, 0, 0.1);
  padding: 50px 20px;
  text-align: center;
  max-width: 100%;
  /* makes it o that the box will always stay on the screen instead of going off the screen when re adjusting the size of the window basically gives it flexibility with the window instead of stubbornly holding onto its width and being portrayed OUTSIDE the window think google results for wikipedia page... those are off the window soo they did not code max-width: 100%*/
  width: 800px;
  /* remember that max width can change the value if you vary the size of the element and that width cannot */
}

h3 {
  margin: 0;
  opacity: 0.5;
  /* changes Dont Laugh Challenge text */
  letter-spacing: 2px;
  /* makes the spaces in between the letters larger... kong ge */
}

.joke {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
  /* again a flexibility shrink / grow modifier better to think of it that way.... it grows to 600px with the window resizing but after 600px it STOPS */
}
