@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  /* ORANGE */
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  border: solid orange 5px;
}

h1 {
  /* "FREQUENTLY ASKED QUESTIONS" TITLE */
  margin: 50px 0 30px;
  text-align: center;
}

.faq-container {
  /* container that surrounds all the joke items */
  border: purple solid 5px;
  max-width: 600px;
  margin: 0 auto;
}

.faq {
  /* each individual box inside the purple container */
  background-color: transparent;
  border: 3px solid lightcoral;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

.faq.active {
  /* the joke box that is clicked */
  background-color: #fff;
  /* box shadow 0px on the horizontal offset 3px on the vertical offset and 6px on the blur */
  box-shadow: 110px 50px 60px pink, -110px -50px 60px magenta;
  /* when you seperate with a comma for box shadow IT WILL PLACE A SECOND SHADOW */
  /* purposefully made the box shadow bigger to demonstrate its use... when you click on each box the horizontal shadow of 110px will extend wayyy outside of the box */
  /* second value of 50px will push the vertical shadow DOWN */
  /* applying a negative -50px will push the vertical shadow UP */
  /* purposefull made the blur effect 60px will make the clarity of the shadow less clear i.e. light is filtering in with the shadow think of the a screen for mosquitoes casting a shadow... so the more you increase the third value the more porous you make the shadow */
}

.faq.active::before,
.faq.active::after {
  /* have a before and after will create two psuedo element angry faces in the background.... then you style them LATER DOWN IN THE STYLE SHEET */
  /* Angry face in background */
  content: '\f556';
  /* change now to angry face*/
  font-family: 'Font Awesome 5 Free';
  color: #2ecc71;
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: 20px;
  left: 20px;
  z-index: 0;
}

.faq.active::before {
  /* BLUE CONVERSATION CIRCLE IN BACKGROUND*/
  color: #3498db;
  top: -10px;
  left: -30px;
  transform: rotateY(180deg);
  /* turns blue conversation bubble around */
}

.faq-title {
  /* the upper joke question in EACH box */
  margin: 0 35px 0 0;
  color: red;
}

.faq-text {
  /* joke PUNCH LINE */
  display: none;
  margin: 30px 0 0;
  /* hides the punch line */
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  /* check box and X box below the punch line */
  background-color: transparent;
  border: solid green 5px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.faq-toggle:focus {
  border: solid pink 5px;
  outline: 0;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  color: #fff;
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle {
  background-color: #9fa4a8;
}
